@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .splide__pagination.splide__pagination-cards {
        @apply static mt-2;
    }
    .splide__pagination.splide__pagination-crypto {
        @apply -top-10 bottom-auto left-auto right-0;
    }
    .splide__pagination .splide__pagination__page {
        @apply mx-1 bg-purple-3;
    }
    .splide__pagination .splide__pagination__page.is-active {
        @apply scale-100 bg-purple-1;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

Firefox input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.scroller {
    height: 3rem;
    line-height: 3rem;
    position: relative;
    overflow: hidden;
    font-size: 3rem;
    text-align: left;
}

.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 10s infinite;
    font-weight: 900;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -3rem;
    }
    50% {
        top: -6rem;
    }
    75% {
        top: -9rem;
    }
}

.spin-on-hover:hover {
    animation: spin 2s linear infinite;
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    font-size: 2rem; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    height: auto;
    width: 100%;
    background: linear-gradient(to right, #9747ff, #ff90e8); /* Gradient direction and colors */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Make the text color transparent */
    animation: slide 3s linear infinite; /* Animation named 'slide', adjust timing as needed */
}

/* .testimonial { */
/* position: relative; */
/* z-index: 9; */
/* @apply bg-white rounded-3xl shadow-lg border-2 border-n-1 ring-2 ring-white; */
/* } */

/* .testimonial:after {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply bg-white rounded-3xl shadow-lg border-2 border-n-1 ring-2 ring-white;
} */

.testimonial-0-bg {
    top: 1.5rem;
    left: -1rem;
    transform: rotate(-6deg);
}
.testimonial-1-bg {
    top: 1.3rem;
    left: 0.6rem;
    transform: rotate(4deg);
}
.testimonial-2-bg {
    top: 0.75rem;
    left: 0.65rem;
    transform: rotate(3deg);
}
.testimonial-3-bg {
    top: -0.5rem;
    left: 0.5rem;
    transform: rotate(-4deg);
}

@keyframes thumbsUp {
    0% {
        transform: translateY(0);
        transform-origin: bottom left;
    }
    35% {
        transform: translateY(0) rotate(-15deg);
        transform-origin: bottom left;
    }
    50% {
        transform: translateY(0) rotate(9deg);
        transform-origin: bottom left;
    }
    60% {
        transform: translateY(0) rotate(-5deg);
        transform-origin: bottom left;
    }
    100% {
        transform: translateY(0);
        transform-origin: bottom left;
    }
}

.animation-thumbsUp {
    animation: thumbsUp 1.2s infinite;
}

@keyframes faceSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.animation-faceSpin {
    animation: faceSpin 2s infinite ease-in-out;
}
