@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    margin: 0 !important;
}
/* SCROLLBAR */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* BRUTAL SCROLLBAR */

.brutalscroll::-webkit-scrollbar-track {
    border-left: 2px solid black;
    background-color: #fff;
}

.brutalscroll::-webkit-scrollbar {
    width: 20px;
    background-color: #fff;
}

.brutalscroll::-webkit-scrollbar-thumb {
    background-color: #000000;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.brutalborder {
    border: 2px solid #000000;
}

.softborder {
    border: 1px solid #000000;
}

.brutalborder-left {
    border-left-style: solid;
}

.brutalborder-bottom {
    border-bottom: 1px solid #ddd;
}

/* replace cta-btn id with rainbow border in html if not CTA at some point @konrad */
#cta-btn {
    border: 5px solid black;
    padding: 1rem;
    transition:
        box-shadow 1s ease-in-out,
        border-radius 1s ease-in-out;
    box-shadow: 0.5rem 0.5rem 0 0px #000;
    color: #000;
    font-weight: 900;
}

#cta-div {
    border: 5px solid black;
    padding: 1rem;
    transition:
        box-shadow 1s ease-in-out,
        border-radius 1s ease-in-out;
    box-shadow: 0.5rem 0.5rem 0 0px #000;
    color: #000;
    font-weight: 900;
    left: -2.5px;
}

#cta-btn:hover {
    /* animation: disco 1s infinite; */
    /* background-color: #000; */
    transform: ease-in-out 2s;
    border-radius: 2rem;
    box-shadow:
        0 0 0 0.5rem #ff90e8,
        0 0 0 1rem #23a094,
        0 0 0 1.5rem #f1f333,
        0 0 0 2rem #90a8ed;
    /* normal shadow */
    /* 0.5rem 0.5rem 0 0 #ff90e8,
  1rem 1rem 0 0 #23a094,
  1.5rem 1.5rem 0 0 #F1F333,
  2rem 2rem 0 0 #90A8ED, */
}

#cta-btn:active {
    animation: disco 0.5s infinite;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

Firefox input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>")
        no-repeat;
    background-size: 12px;
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    background-color: white;
    background-position-y: 60%;
}

input {
    box-sizing: border-box;
}

input {
    caret-color: #000000;
    caret-shape: block;
}

.custom-cursor {
    border-left: 3px solid black; /* Adjust thickness and color as needed */
}

@layer base {
    h1 {
        font-weight: 900;
        letter-spacing: 0.01em;
    }
    h2 {
        font-weight: 900;
        letter-spacing: 0.01em;
    }
}
