@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .splide__pagination.splide__pagination-cards {
        @apply static mt-2;
    }
    .splide__pagination.splide__pagination-crypto {
        @apply -top-10 bottom-auto left-auto right-0;
    }
    .splide__pagination .splide__pagination__page {
        @apply mx-1 bg-purple-3;
    }
    .splide__pagination .splide__pagination__page.is-active {
        @apply scale-100 bg-purple-1;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

Firefox input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.scroller {
    height: 3rem;
    line-height: 3rem;
    position: relative;
    overflow: hidden;
    font-size: 3rem;
    text-align: left;
}

.scroller > span {
    position: absolute;
    top: 0;
    animation: slide 10s infinite;
    font-weight: 900;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -3rem;
    }
    50% {
        top: -6rem;
    }
    75% {
        top: -9rem;
    }
}

.spin-on-hover:hover {
    animation: spin 2s linear infinite;
}
